<app-navbar></app-navbar>

<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="box">
          <h6>{{title}}</h6>
          <hr>
          <p class="sub-menu">
              <a [routerLink]="['./']" 
                 routerLinkActive="highlighter"
                 [queryParams] = "{action: 'add'}"
                 appHighlight highlightColor="yellow"
              >Add Product</a>
          </p>
          <p class="sub-menu">
              <a [routerLink]="['./']" 
                 routerLinkActive="highlighter"
                 [queryParams] = "{action: 'list'}"
                 appHighlight highlightColor="yellow"
              >List Product</a>
          </p>                        
      </div>
    </div>
    <div class="col-md-9">
      <div *ngIf="action == 'add'; then addCategory; else listCategory"></div>
        <ng-template #addCategory>
          <form #frmData="ngForm">
            <div class="form-group">
              <label for="lblCategoryName">Category Name</label>
              <input type="text" class="form-control" name="categoryName" ngModel >
            </div>
            <div class="form-group">
              <label for="lblStatus">Status</label>
              <select class="form-control" name="status" ngModel>
                <option *ngFor="let sts of statuses" [ngValue]="sts.id">
                  {{sts.value}}
                </option>
              </select>
            </div>
            <button type="button" class="btn btn-primary" (click)="onSaveData(frmData.value)">Submit</button>&nbsp;
            <button type="button" class="btn btn-danger" (click)="onCancel()">Cancel</button>
          </form>
        </ng-template>
        
        <ng-template #listCategory>
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Category Name</th>
                <th scope="col">Status</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let category of categories">
                <th scope="row">{{category.id}}</th>
                <td>{{category.categoryName | uppercase | shorten:0:15}}</td>
                <td scope="col">
        
                  <!-- <button [ngClass]="active.class" *ngIf="category.status" (click)="onButtonStatus($event)">Active</button>
                  <button [ngClass]="inactive.class" *ngIf="!category.status" (click)="onButtonStatus($event)">In-Active</button> -->
                  
                  <!-- <button [ngClass]="category.status == true ? active.class : inactive.class" 
                          [innerText]="category.status == true ? active.text : inactive.text"
                          (click)="onButtonStatus($event)">
                  </button> -->

                  <app-button [status]="category.status" (onToggle)="onButtonComponent($event)"></app-button>
                </td>
              </tr>
            </tbody>
          </table>              
        </ng-template>
    </div>
  </div>
</div>

